<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK-rG_20d3c85zmr5Pij8F5Ao4DRC81MM</string>
	<key>GCM_SENDER_ID</key>
	<string>547670031454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.livelocationtrackerflutter</string>
	<key>PROJECT_ID</key>
	<string>maps-tracking-2f425</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-tracking-2f425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547670031454:ios:fe49bd241b9fca2258c8cf</string>
</dict>
</plist>